// main.styl
@require '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme = {
	primary: $indigo.lighten-4
	accent: $teal.accent-2
	secondary: $grey.darken-2
	info: $amber.base
	warning: $orange.base
	error: $red.base
	success: $lime.base

	sync_base: #D29725
  sync_light: #EEB719

  logic_base: #039084
  logic_light: #36B6A7
}

$logics = {
  base: #039084
  light: #36B6A7
}

$sync = {
  base: #D29725
  light: #EEB719
}

$labs = {
  base: #3F83D2
  light: #099BD9
}

@import '../../node_modules/vuetify/src/stylus/main'
