// main.styl
@require '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme = {
	primary: $indigo.lighten-2
	accent: $amber.accent-2
	secondary: $grey.darken-2
	info: $amber.base
	warning: $orange.base
	error: $red.base
	success: $lime.base
}

@import '../../node_modules/vuetify/src/stylus/main'
